extends ../templates/template.pug

block title
  title My Page - Contact


block content

  //- Desktop page
  section.page.contact__page
    h1.page__title # Contact page
    p Thank you for your supporting :)
    
